/*all*/
$len_breakpoint: 768px;
$len_max: 960px;

$color_theme: #00b7cc;
$color_white: #ffffff;
$color_black: #383638;
$color_gray: #404547;

html {
  scroll-behavior: smooth;
  font-size: 62.5%;
}

body {
  font-family: "Avenir", "Lato", "Noto Sans JP", "游ゴシック Medium",
    "游ゴシック体", "Yu Gothic Medium", "YuGothic", "ヒラギノ角ゴシック",
    "Hiragino Sans", "ヒラギノ角ゴ ProN", "Hiragino Kaku Gothic ProN",
    "メイリオ", "Meiryo", sans-serif;
  font-size: 1.6rem;
  line-height: 1.6;
  font-weight: 400;
  color: $color_black;
}

/*key-visual*/
.key-visual {
  &__img {
    display: block;
    width: 100%;
  }
}

/*section*/
.section {
  width: 80%;
  max-width: $len_max;
  margin: 0 auto;
  padding: 48px 0;

  &__title {
    font-size: 32px; //古いブラウザ向け
    font-size: 3.2rem;
    color: $color_black;

    &--ja {
      font-size: 16px; //古いブラウザ向け
      font-size: 1.6rem;
      margin-left: 16px;
      color: $color_gray;
    }
  }
}

/*introduction*/
.intro {
  &__heading {
    margin-top: 16px;
    font-size: 24px; //古いブラウザ向け
    font-size: 2.4rem;
  }

  &__text {
    margin-top: 8px;
  }
}

/*footer*/
.footer {
  background: $color_gray;
  color: $color_white;
  text-align: center;
  font-size: 12px; //古いブラウザ向け
  font-size: 1.2rem;
  padding: 4px 0;
}
